<% provide(:title, @user.username + " | Droids") %>
<h1 class="center"><%= @user.username %>'s Droids</h1>

<div class="row">
  <% user_ais = @user.ais.paginate(page: params[:page]) %>
  <table class="ais" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owned By</th>
        <th>Game</th>
        <th>Created at</th>
        <th>Matches Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Illegal Moves</th>
        <th>Time Outs</th>
        <th>Win Percentage</th>
      </tr>
    </thead>
    <tbody>
      <%= render user_ais %>
    </tbody>
  </table>
  <%= will_paginate user_ais %>
</div>
