// Place all the styles related to the Ais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ai_info_header { width: 100%; padding-bottom: 5px; }

section.ai_info h3 { margin-top: 0; }
div.ai_side_info h3 { margin-top: 0; }

aside.col-md-4 { padding-left: 0; }
